anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
cffi
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastapi
fastjsonschema
fonttools
fqdn
h11
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
joblib
jsonpointer
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
overrides
packaging
pandas == 2.0.3
pandocfilters
parso
pickleshare
platformdirs
prometheus-client
psutil
pure-eval
pycparser
pydantic
pydantic_core
Pygments
pyparsing
python-json-logger
python-multipart
PyYAML
qtconsole
QtPy
referencing
regex
requests
Send2Trash
six
sniffio
soupsieve
stack-data
starlette
terminado
threadpoolctl
tinycss2
tomli
tornado
traitlets
typing
tzdata
uri-template
urllib3
uvicorn
webcolors
webencodings
websocket-client
widgetsnbextension
zipp
